.Parentbox {
  width: 70%;
  overflow: hidden;
  margin: auto;
  margin-top: 100px;
}

.container {
  width: 60%;
}

.Photo {
  float: left;
  width: 50%;
  height: 100%;
}

.Photo img {
  width: 100%;
  border-radius: 20px;
}

.Description {
  width: 35%;
  overflow: hidden;
  float: left;
  margin-left: 30px;
}

.Description .info {
  line-height: 1.8;
  color: rgb(18, 19, 49);
}

.Description .Price {
  font-size: 20px;
  font-weight: 500;
}

.Description .Title {
  margin: 0;
  color: #34495e;
}

.Description .Category {
  color: #34495e;
}

.Description a {
  margin-top: 20px;
  color: aliceblue;
  font-weight: 500;
  background: rgb(44, 84, 119);
  text-decoration: none;
  display: inline-block;
  padding: 5px 20px 10px 20px;
  font-size: 20px;
  border-radius: 10px;
}

.Description a:hover {
  color: aliceblue;
  background: rgb(43, 46, 66);
  transition: all 0.5s;
}