.Parentbox {
  width: 70%;
  overflow: hidden;
  /* margin: 50px; */
  margin: auto;
  margin-top: 100px;
}

.container {
  width: 60%;
}

.Photo {
  float: left;
  width: 50%;
  height: 100%;
}

.Photo img {
  width: 100%;
  border-radius: 20px;
}

.Description {
  width: 35%;
  overflow: hidden;
  float: left;
  margin-left: 30px;
}

.Description .info {
  line-height: 1.8;
  color: rgb(18, 19, 49);
}

.Description .Price {
  /* font-size: 20px; */
  font-weight: 500;
}

.Description .Title {
  margin: 0;
  color: #34495e;
}

.Description .beforeDiscount {
  text-decoration: line-through;
  color: red;
}

.Description .Category {
  color: #34495e;
}

.Description a {
  margin-top: 20px;
  color: aliceblue;
  font-weight: 500;
  background: rgb(44, 84, 119);
  text-decoration: none;
  display: inline-block;
  padding: 5px 20px 10px 20px;
  font-size: 20px;
  border-radius: 10px;
}

.Description a:hover {
  color: aliceblue;
  background: rgb(43, 46, 66);
  transition: all 0.5s;
}

.Review-box {
  clear: both;
  width: 100%;
  overflow: hidden;
  padding-bottom: 100px;
}

.Review-box h2 {
  margin-top: 50px;
}

.Review-box img {
  width: 80px;
  height: 80px;
  background: #b1b1b1;
  float: left;
  margin-right: 16px;
  border-radius: 40px;
}

.Review-box .User p, h3 {
  margin: 0;
}

.Review-box .User h3 {
  padding-top: 10px;
  margin-bottom: 8px;
}

.Review-box .Item {
  width: 80%;
  overflow: hidden;
  margin-bottom: 24px;
}